.App {
  max-width: 90%;
  margin: 0 auto;
  padding: 80px;
  min-width: 60%;
  text-align: center;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.App footer {
  color: #000000;
}
.App header {
  font-family: "Shadows Into Light Two", cursive;
  color: teal;
  text-align: center;
  padding: 10px;
  margin: 50px 0 0 0;
  font-size: 50px;
}
