.App {
  max-width: 90%;
  margin: 0 auto;
  padding: 60px;
  min-width: 525px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  list-style: none;
}
footer {
  color: lightblue;
}
h1 {
  font-family: "Shadows Into Light Two", cursive;
  color: #ffffff;
  text-align: center;
  padding: 5px;
  margin: 50px;
  font-size: calc(10px + 2vmin);
}

h2,
h3 {
  color: lightblue;
  margin-bottom: 0;
  font-size: 25px;
  padding: 5px;
}

h4,
h5 {
  color: lightblue;
  font-weight: bold;
}

form {
  text-align: center;
  padding: 25px auto;
  margin: 0 auto;
}

ul {
  color: #ffffff;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  text-transform: capitalize;
  list-style: none;
}
p {
  text-align: center;
  color: #000000;
  padding: 20px;
  margin: 0 auto;
}

.topbox {
  max-width: 900px;
  border: solid;
  padding: 10px;
  margin: 10px;
  background: #ffffff;
}

.col {
  max-width: 150px;
  padding: 0 5px;
  display: inline-block;
  vertical-align: top;
}

.current-weather {
  padding: 10px;
  margin-right: 20px;
  display: inline-block;
}

.temperature {
  font-size: 60px;
  display: inline-block;
}
.units {
  display: inline-block;
  margin: top;
  font-size: x-small;
  padding: 0px;
}

.status {
  display: block;
  padding: 20px;
  margin-left: 20px;
  font-size: 20px;
}
.fiveday {
  display: block;
  border: solid;
  margin: 0 auto;
  padding: 20px;
  background: #ffffff;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
